<div class="survey-reminder-wrapper">
  <div class="survey-reminder-container">
    Take the
    <a href="https://emberjs.com/ember-community-survey-2019">2019 Ember Community Survey</a>
  </div>
</div>
